.login
    h1.login__title Вход
    form.form.login__form
        | {{formControlLogin}}
        | {{formControlPassword}}
        span.form-control__error='{{errorText}}'
        .login__controls 
            | {{button}}
            | {{registerLink}}
