extends ../../layout/index
include ../../utils/mixins/formControlInput
append head 
    title Регистрация
block content 
    .login
        h1.login__title Регистрация
        form.form.login__form
            +formControlInput('email', 'Почта', '', 'неверный логин')(type="email")
            +formControlInput('login', 'Логин', '', 'неверный пароль')
            +formControlInput('first_name', 'Имя', '', 'неверный пароль')
            +formControlInput('second_name', 'Фамилия', '', 'неверный пароль')
            +formControlInput('phone', 'Телефон', '', 'неверный пароль')(type="tel")
            +formControlInput('password', 'Пароль', '', 'плохой пароль')(type="password")
            +formControlInput('passwordRepeat', 'Пароль(еще раз)', '', 'пароли не совпадают')(type="password")
        .login__controls 
            button(type="submit").button Зарегистрироваться        
            a(href="./index").button.button--transparent Войти       
