extends ../index
append head 
    title Ошибка
block content
    .layout-error 
        h1.layout-error__title 
            block errorCode
        p.layout-error__description 
            block errorText
        .layout-error__controls    
            a(href="/").button.button--transparent Назад к чатам       