.form-control(class='{{className}}') 
    .form-control__label='{{label}}'
    input(type='{{type}}', name='name', value='{{value}}', placeholder='{{placeholder}}').form-control__input
    span.form-control__error='{{errorText}}'