.chat
    .chat-list 
        .chat-list__header 
            a.chat-list__profile-link(href='/profile') Профиль
            .chat-list__search
                input(type="text" placeholder='Поиск')

    .chat-content
        .chat-content-control 
            button(type='file').chat-content-control__file
                img(src='../../../static/icons/file.svg')
            | {{formControlMessage}}
            | {{button}}
            

