@import "../../styles/variables";

@mixin chat-user-item {
  display: inline-block;
  width: auto;
  border-radius: 100px;
  padding: 0 10px;
  padding-right: 25px;
  background: none;
  border: 2px solid $blue;
  color: $blue;
  position: relative;
  margin-right: 10px;
  height: 38px;
}

.chat {
  width: 100%;
  display: flex;

  &-window {
    width: 100%;
    height: 100%;

    &__header,
    &__body {
      padding: 15px 20px;

      .is-no-current-chat & {
        display: none;
      }
    }

    &-add {
      margin-left: auto;
      display: flex;

      &__input {
        display: inline-block;
        margin-bottom: 0;

        input {
          @include chat-user-item;

          margin-right: 0;
          width: 0;
          transition: $ease 1s;
        }
      }

      &__button {
        border-radius: 100%;
        width: auto;
        width: 31px;
        height: 30px;
        margin-top: 4px;
        align-items: flex-start;
        line-height: 28px;
        margin-left: -35px;
        font-size: 120%;
        position: relative;
        z-index: 9;
      }

      &:hover {
        .chat-window-add__input input {
          width: 270px;
          padding-right: 40px;
          transition: $ease;
        }
      }
    }

    &__placeholder {
      display: none;
      align-items: center;
      justify-content: center;
      height: 100%;

      .is-no-current-chat & {
        display: flex;
      }

      .chat-window-add {
        margin: 0 0 0 10px;
      }
    }

    &__user {
      &-list {
        display: flex;
      }

      &-button {
        @include chat-user-item;

        &::after {
          content: "+";
          display: inline-block;
          transform: rotate(45deg);
          font-size: 150%;
          top: 50%;
          right: 0;
          margin-right: 5px;
          line-height: 0;
          position: absolute;
        }
      }
    }
  }

  &-list {
    padding: 10px 0;
    width: 310px;
    height: 100%;
    background: $alabaster;
    display: flex;
    flex-direction: column;
    border-right: 1px solid $border-grey;

    &__header {
      padding: 10px;
      flex-shrink: 0;
    }

    &__body {
      overflow-y: auto;
      flex: 1 1 auto;
      height: 1px;
    }

    &__profile-link {
      float: right;
      font-size: 12px;
      color: $text-grey;

      &::after {
        content: ">";
        margin-left: 5px;
        text-decoration: none !important;
      }
    }

    &__search {
      margin-top: 25px;
      width: 100%;
      height: 32px;
      border-radius: 5px;
      font-size: 12px;
      text-align: center;
      border: 1px solid transparent;
      background: $light-grey;
    }

    &-item {
      display: flex;
      padding: 12px 10px;
      transition: $ease;
      cursor: pointer;
      position: relative;
      margin: 4px 0;

      &::before {
        content: "";
        border-top: 1px solid $border-grey;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: -2px 10px 0;
      }

      &:hover {
        background: $hawkes;
      }

      &__photo {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: $light-grey;
      }

      &__data {
        padding-left: 10px;
      }

      &__author {
        font-size: 13px;
        margin-bottom: 5px;
      }

      &__content {
        font-size: 12px;
        color: $text-grey;
      }

      &__last {
        margin-left: auto;
        text-align: right;
        display: flex;
        flex-direction: column;
      }

      &__timestamp {
        color: $text-grey;
        font-size: 10px;
      }

      &__count {
        margin-top: auto;
        color: $white;
        background: $blue;
        border-radius: 100px;
        font-size: 11px;
        text-align: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        margin-left: auto;

        &:empty {
          display: none;
        }
      }
    }
  }

  &-content {
    width: 100%;
    display: flex;
    flex-direction: column;

    &-control {
      margin-top: auto;
      padding: 15px 20px;
      border-top: 1px solid $border-grey;
      display: flex;

      &__file {
        border: none;
        background: none;

        @include hover-opacity(0.2);
      }
      /* stylelint-disable no-descending-specificity */
      &__input {
        width: 100%;
        border-radius: 100px;
        background: $light-grey;
        height: 37px;
        border: 1px solid transparent;
        padding: 0 20px;
        transition: $ease;
        margin: 0 10px;
        font-size: 12px;

        input {
          border: none;
          background: transparent;
          height: 100%;
        }

        span {
          margin-top: 2px;
        }
      }

      &__button {
        height: 100%;
        width: auto;

        @include blue-button;
      }
    }
  }
}
