@import "../../styles/variables";

.chat {
  width: 100%;
  display: flex;

  &-list {
    padding: 10px 0;
    width: 310px;
    height: 100%;
    background: $alabaster;
    display: flex;
    flex-direction: column;
    border-right: 1px solid $border-grey;

    &__header {
      padding: 10px;
    }

    &__body {
      overflow-y: auto;
    }

    &__profile-link {
      float: right;
      font-size: 12px;
      color: $text-grey;

      &::after {
        content: ">";
        margin-left: 5px;
        text-decoration: none !important;
      }
    }

    &__search {
      margin-top: 25px;

      input {
        width: 100%;
        height: 32px;
        border-radius: 5px;
        font-size: 12px;
        text-align: center;
        border: 1px solid transparent;
        background: $light-grey;
      }
    }

    &-item {
      display: flex;
      padding: 12px 10px;
      transition: $ease;
      cursor: pointer;
      position: relative;
      margin: 4px 0;

      &::before {
        content: "";
        border-top: 1px solid $border-grey;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: -2px 10px 0;
      }

      &:hover {
        background: $hawkes;
      }

      &__photo {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: $light-grey;
      }

      &__data {
        padding-left: 10px;
      }

      &__author {
        font-size: 13px;
        margin-bottom: 5px;
      }

      &__content {
        font-size: 12px;
        color: $text-grey;
      }

      &__last {
        margin-left: auto;
        text-align: right;
        display: flex;
        flex-direction: column;
      }

      &__timestamp {
        color: $text-grey;
        font-size: 10px;
      }

      &__count {
        margin-top: auto;
        color: $white;
        background: $blue;
        border-radius: 100px;
        font-size: 11px;
        text-align: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        margin-left: auto;

        &:empty {
          display: none;
        }
      }
    }
  }

  &-content {
    width: 100%;
    display: flex;
    flex-direction: column;

    &-control {
      margin-top: auto;
      padding: 10px 20px;
      border-top: 1px solid $border-grey;
      display: flex;

      &__file {
        border: none;
        background: none;

        @include hover-opacity(0.2);
      }

      &__input {
        width: 100%;
        border-radius: 100px;
        background: $light-grey;
        height: 30px;
        border: 1px solid transparent;
        padding: 0 20px;
        transition: $ease;
        margin: 0 10px;
        font-size: 12px;
      }

      &__button {
        height: 100%;

        @include blue-button;
      }
    }
  }
}
