@import "../../styles/variables";

.profile {
  display: flex;
  width: 100%;

  @mixin top-link {
    position: absolute;
    top: 0;
    margin: 20px;
  }

  &__back-link {
    @include top-link;

    left: 0;
  }

  &__logout-link {
    @include top-link;

    right: 0;
  }

  &__content {
    width: 100%;
  }

  &-form {
    max-width: 500px;
    width: 100%;
    margin: 100px auto 50px;

    &__group {
      margin: 50px 0;
    }

    &__button {
      height: 32px;
      width: 100%;

      @include blue-button;
    }

    &__error {
      margin-bottom: 20px;
    }
  }
}
