.profile
    a(href='./chat').profile__back-link Назад
    .profile__content  
        form.profile-form
            .profile-form__group 
                | {{avatar}}              
            .profile-form__group
                | {{formControlFirstName}}
                | {{formControlSecondName}}
                | {{formControlDisplayName}}
                | {{formControlLogin}}
                | {{formControlEmail}}
                | {{formControlPhone}}
            .profile-form__group 
                | {{formControlPassword}}
                | {{formControlPasswordRepeat}}
            | {{button}}