extends ../../layout/index
include ../../utils/mixins/formControlInput
append head 
    title Профиль
block content
    - 
        let settings =  {
            first_name: {
                label: 'Имя',
                value: 'Иван'
            },
            second_name: {
                label: 'Фамилия',
                value: 'Иванов'
            },
            display_name: {
                label: 'Имя в чате',
                value: 'Иван'                
            }, 
            login: {
                label: 'Логин',
                value: 'ivanivanov'
            },
            email: {
                label: 'Почта',
                value: 'pochta@yandex.ru'
            }, 
            phone: {
                label: 'Телефон',
                value: '+7 (909) 967 30 90'
            },
            avatar: {
                label: 'Аватар',
                value: ''
            },
            oldPassword: {
                label: 'Старый пароль',
                value: 'qwerty'
            },
            newPassword: {
                label: 'Новый пароль',
                value: 'abcdefg'
            },
        }

        let { oldPassword, newPassword, avatar, ...restSettings } = settings;

    .profile
        a(href='../chat/index').profile__back-link Назад
        .profile__content  
            form.profile-form
                .profile-form__group 
                    label.profile-form__avatar
                        input(type="file")
                        img(src="../../../static/icons/empty.svg")            
                .profile-form__group
                    each setting, key in restSettings 
                        +formControlInput(key, setting.label, setting.value)
                .profile-form__group 
                    each setting, key in {oldPassword, newPassword} 
                        +formControlInput(key, setting.label, setting.value)(type='password')                                            
                button(type='submit').profile-form__button Сохранить    