.profile
    | {{chatLink}}
    | {{logoutLink}}
    .profile__content  
        form.profile-form
            .profile-form__group 
                | {{avatar}}              
            .profile-form__group
                | {{formControlFirstName}}
                | {{formControlSecondName}}
                | {{formControlDisplayName}}
                | {{formControlLogin}}
                | {{formControlEmail}}
                | {{formControlPhone}}
            .profile-form__group 
                | {{formControlOldPassword}}
                | {{formControlNewPassword}}
            span.form-control__error.profile-form__error='{{errorText}}'

            | {{button}}
