$alabaster: #fbfbfb;
$black: #1e1e1e;
$white: #fff;
$blue: #3369f3;
$hawkes: #e4edfd;
$red: #ff2f2f;
$light-grey: #efefef;
$text-grey: #999;
$border-grey: #eaeaea;

$ease: all 0.4s;
$inter: "Inter", serif;

@mixin hover-opacity($opacity: 0.8) {
  transition: $ease;
  &:hover {
    opacity: $opacity;
  }
}

@mixin blue-button {
  background: $blue;
  border: none;
  color: $white;
  padding: 0 10px;
  border-radius: 100px;
  border: none;
  @include hover-opacity();
}
