.chat-list-item
    .chat-list-item__photo
        i
    .chat-list-item__data
        .chat-list-item__author
            | {{author}}
        .chat-list-item__content
            | {{content}}
    .chat-list-item__last
        .chat-list-item__timestamp
            | {{timestamp}}
        .chat-list-item__count
            | {{count}}

            