@import "../../styles/variables";

.message {
  margin: 5px 0;
  margin-right: auto;
  &--out {
    margin-left: auto;
    margin-right: 0;
    .message {
      &__content {
        background: $blue;
        color: $white;
        border-radius: 20px;
        border-bottom-right-radius: 0;
      }
    }
  }
  &__content {
    padding: 15px;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    background: $light-grey;
    font-size: 13px;
    position: relative;
  }
}
