.layout-error 
    h1.layout-error__title 
        | {{errorCode}}
    p.layout-error__description 
        | {{errorText}}
    .layout-error__controls    
        a(href="/").button.button--transparent Назад к чатам        